@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Sulphur+Point&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



/*
  font-family: 'Lemon', cursive;
  font-family: 'Sulphur Point', sans-serif;
  oragn DE9151
  red F34213
  bl F34213
  orgn cl BC5D2E
  gr BBB8B2
 */

//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
//bootstrap options
$enable-shadows: true;
//variables
$ff-first: "Lemon", cursive;
$ff-second: "Sulphur Point", sans-serif;

$colors: (
  "negro-claro": #2e2e3a,
  "naranja": #f34213,
  "marron": #bc5d2e,
  "gris": #bbb8be,
  "negro": #111111,
  "n": #212529,
  "rojo-claro": #470e13,
  "danger":#dc3545,
  "success":#198754,
  'verde-oscuro': #0e4d2f
);

$offcanvas-bg-color: map-get($colors, "n");
/* useful classes */
.ff-zitro {
  font-family: $ff-first;
}
.ff-base {
  font-family: $ff-second;
}

.border-gris {
  border-bottom: map-get($colors, "gris") 1px solid;
}
@each $key, $color in $colors {
  .text-#{$key} {
    color: #{$color};
  }
  .bg-#{$key} {
    background-color: #{$color};
  }
  .border-#{$key} {
    border: #{$color} solid;
  }
}
//toasts
.Toastify{
  &__toast-theme--dark{
    color:map-get($colors, 'naranja' );
    background-color: map-get($colors, 'n');;
  }
  &__progress-bar{
    color:map-get($colors, 'naranja' );
    background-color: map-get($colors, 'naranja');;
  }
  &__toast--success {
    color:map-get($colors,'success' );
    background-color: rgba(85, 83, 83, 0.781);
    backdrop-filter: blur(8px);
  }
  &__toast--error{
    color:map-get($colors,'danger' );
    background-color: rgba(110, 13, 13, 0.473);
    backdrop-filter: blur(8px);
  }
  &__toast--info{
    color:map-get($colors,'gris' );
    background-color: map-get($colors, 'negro-claro');;
  }  
}

.rotate{
  transform: rotate(45deg);
  transition: transform .3s ease;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 1001;
}
main {
  background-color: #111111;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
}

.logo {
  font-family: $ff-first;
  color: map-get($colors, "naranja");
  &:active,
  &:focus {
    color: map-get($colors, "naranja");
  }
  &:hover {
    color: map-get($colors, "naranja");
    transform: scale(1.1);
    transition: transform 0.3s;
  }
}

//Button

.btn.btn-nav {
  background-color: map-get($colors, "negro-claro");
  border: none;
}

.effect {
  &-link {
    text-decoration: none;
    color: #827f85;
    padding-bottom: 2px;
    background-image: linear-gradient(map-get($colors, "naranja") 0 0);
    background-position: 0% 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
    &:hover {
      color: #bbb8be;
      background-position: 100% 100%;
      background-size: 100% 2px;
    }
    &.active {
      color: #bbb8be;
      background-position: 100% 100%;
      background-size: 100% 2px;
    }
  }
  &-card {
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-timing-function: ease;
    &:hover {
      transition: all 0.3s ease;
      box-shadow: 1px 17px 70px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 1px 17px 70px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 17px 70px 0px rgba(0, 0, 0, 0.75);
      z-index: 100;
    }
  }
}

.card-img{
  object-fit: cover;
  &-overlay {
    opacity: 50%;
    transition: all 0.3s ease;
    &:hover {
      opacity: 100%;
    }
  }
}
.cd-link {
  &:hover {
    svg {
      color: map-get($colors, "negro");
    }
    transform: scale(1.1);
    transition: all 0.3s ease;
    background-color: map-get($colors, "naranja");
  }
}
.item-link {
  text-decoration: none;
  font-style: italic;
  &:hover {
    color: map-get($colors, "marron");
  }
}

.list-subnav {
  backdrop-filter: blur(8px);
  background-color: #2e2e3ada;
  z-index: 1000;
  position: sticky;
  top: 68px;
  overflow-x: scroll;
  list-style: none;
  margin: 0;
  min-height: 30px;
  border-radius: 0px 0px 10px 10px;
  &-item {
    padding-inline: 10px;
  }
  &::-webkit-scrollbar {
    width: 10px;
    padding-block: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: map-get($colors, "n");
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: map-get($colors, "marron");
    border-radius: 100px;
  }
}

.description-detail {
  max-height: 120px;
}

.navbar-toggler {
  color: map-get($colors, "naranja");
  &:hover {
    color: map-get($colors, "naranja");
  }
}

.btn-count {
  background: transparent;
  border: 2px solid #f34213;
  color: map-get($colors, "naranja");
  padding: 2px 5px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    &:hover {
      background-color: transparent;
      color: map-get($colors, "naranja");
    }
  }
  &:hover{
    background: map-get($colors, "naranja");
    color: map-get($colors, "negro");
  }
  &:active{
    background: map-get($colors, "naranja");
    color: map-get($colors, "negro");
    filter:opacity(.7);
  }
  svg {
    pointer-events: none;
  }
  &.close{
    background-color: map-get($colors,'negro-claro' );
    color: map-get($colors, "gris");
    border: none;
    transition: all .3 ease;
    &:hover{
      background-color: #656466;
    }
  }
}

.list-card-overflow {
  height: 500px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
    padding-block: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: map-get($colors, "n");
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: map-get($colors, "marron");
    border-radius: 100px;
  }
}

.cart-item{
  transition: background .3s ease;
  &:hover{
    background-color: black;
  }
  &.bg-rojo-claro:hover{
    background-color: #381114;
  }
}

.cell {
  border-color: map-get($colors, "naranja");
  color: map-get($colors, "gris");
  font-size: $ff-first;
  &:focus,
  &:focus-visible,
  &:active,
  &::selection {
    background-color: map-get($colors, "n");
    outline: none;
    border-color: map-get($colors, "naranja");
    box-shadow: 0 0 0 0.10rem map-get($colors, "naranja");
    color: map-get($colors, "gris");
  }
  &.invalid{
    box-shadow: 0 0 0 0.10rem #dc3545;
    border-color: #dc3545;
  }
}
.invalid{
  color:#dc3545;
  font-size: .875em;
}

.back-modal{
  background-color: #21252986;
  backdrop-filter: blur(1px);
}


.backcarousel-1{
  background-image: url('../public/images/banner2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.banner-home{
  @extend .backcarousel-1;
  background-image: url('../public/images/bannerfriday.jpg');
  width: 100%;
  animation-name: transitionBackground;
  animation-duration: 16s;
  animation-timing-function: ease;
  animation-iteration-count:infinite;
  animation-delay: 2s;
}


@keyframes transitionBackground {
  15%{
    background-image: url('../public/images/banner3.jpg');

  }
  45%{
    background-image: url('../public/images/banner4.avif');
  }
  75%{
    background-image: url('../public/images/banner5.avif');
  }
  100%{
    background-image: url('../public/images/bannerfriday.jpg');
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}